
.ecalendar_company_products{
	width:14%;
	float:left;
	
}
.ecalendar_company_description {
	padding: 0px 0px 25px 0px;
    margin: 30px 0px 0px 0px;
}
.ecalendar_company_title{

	padding: 0px 0px 25px 0px;
    margin: 30px 0px 0px 0px;
}

.ecalendar_company_products_heading {
	margin: 40px 0px 30px 0px;
    border-top: 1px solid #ccc;
    padding-top:25px;
}
.admin_home_news_date > a > img{
	width:80px;
	height:80px;
}
	
