/* $Id: common_style_page_group.css 2011-05-05 9:40:21Z SocialEngineAddOns Copyright 2010-2011 BigStep Technologies Pvt. Ltd. $ */

/*CSS FOR ALL SIDEBAR WIDGETS START HERE*/
ul.sitepage_sidebar_list li,
ul.sitegroup_sidebar_list li{
  clear: both;
  overflow: hidden;
  padding: 3px 5px 3px 5px;
}
ul.sitepage_sidebar_list li > a,
ul.sitegroup_sidebar_list li > a{
	float:left;
}
ul.sitepage_sidebar_list li div a,
ul.sitegroup_sidebar_list li div a{
	float:none;
}
ul.sitepage_sidebar_list .list_thumb,
ul.sitegroup_sidebar_list .list_thumb{
  float: left;
  display: block;
  width: 48px;
  height: 48px;
	vertical-align:top;
}
ul.sitepage_sidebar_list .sitepage_sidebar_list_info,
ul.sitegroup_sidebar_list .sitegroup_sidebar_list_info{
  padding: 0px 0px 0px 6px;
  overflow: hidden;
}
ul.sitepage_sidebar_list .sitepage_sidebar_list_title,
ul.sitegroup_sidebar_list .sitegroup_sidebar_list_title{
  font-weight: bold;
}
ul.sitepage_sidebar_list .sitepage_sidebar_list_details,
ul.sitegroup_sidebar_list .sitegroup_sidebar_list_details{
  font-size: .8em;
	margin-top:3px;
}
.sitepage_sidebar_list_seeall,
.sitegroup_sidebar_list_seeall{
	font-size: 11px;
	text-align: right !important;
}
.sitepage_sidebar_list_seeall a,
.sitegroup_sidebar_list_seeall a{
	float:none !important;
}
.sitepage_sidebar_list_seeall img,
.sitegroup_sidebar_list_seeall img{
	margin-right: 5px;
	width:12px;
	vertical-align:middle;
}
.layout_sitepage_pinboard_browse, .layout_sitegroup_pinboard_browse,
.layout_sitepage_tagcloud_sitepage, .layout_sitegroup_tagcloud_sitegroup,
.layout_sitepage_sponsored_sitepage, .layout_sitegroup_sponsored_sitegroup,
.layout_sitepage_popularlocations_sitepage, .layout_sitegroup_popularlocations_sitegroup,
.layout_sitepage_categories_sitepage, .layout_sitegroup_categories_sitegroup,
.layout_sitepage_category_pages_sitepage, .layout_sitegroup_category_pages_sitegroup, 
.layout_sitepage_foursquare_sitepage, .layout_sitegroup_foursquare_sitegroup, 
.layout_sitepage_widgetlinks_sitepage, .layout_sitegroup_widgetlinks_sitegroup, 
.layout_sitepage_categories, .layout_sitegroup_categories, 
.layout_sitepage_search_sitepage, .layout_sitegroup_search_sitegroup, 
.layout_sitepage_slideshow_sitepage, .layout_sitegroup_slideshow_sitegroup, 
.layout_sitepage_newpage_sitepage, .layout_sitegroup_newgroup_sitegroup,
.layout_sitepagemember_sitepagememberlist_link, .layout_sitegroupmember_sitegroupmemberlist_link{
	margin-bottom:15px;
	clear:both;
}
.layout_sitepage_popularlocations_sitepage ul.seaocore_browse_category li,
.layout_sitegroup_popularlocations_sitegroup ul.seaocore_browse_category li{
	padding:0px !important;
}
/*CSS FOR ALL SIDEBAR WIDGETS END HERE*/
/*sitepage PHOTOS UPLOAD FORM*/
.layout_sitepage_location_sitepage h3, .layout_sitegroup_location_sitegroup h3, 
.layout_sitepage_info_sitepage h3, .layout_sitegroup_info_sitegroup h3, 
.sitepage_form_upload #file-label, .sitegroup_form_upload #file-label, 
.sitepage_form_upload #submit-label, .sitegroup_form_upload #submit-label{
	display: none;
}
/*BROWSE sitepages*/
.sitepage_tab_open, .sitegroup_tab_open{
	position:inherit !important;
}
li.sitepage_tab_open .tab_pulldown_contents_wrapper, 
li.sitegroup_tab_open .tab_pulldown_contents_wrapper{
	display:block;
	left:auto;
}
li.sitepage_tab_open .tab_pulldown_contents,
li.sitegroup_tab_open .tab_pulldown_contents{
	width:120px;
}
.sitepage_tab_open ul li,
.sitegroup_tab_open ul li{
	float:none;
	padding:0px !important;
	margin:0px !important;
	display:block;
}
.sitepage_tab_open ul li a, .sitegroup_tab_open ul li a,
.sitepage_tab_open ul li a:hover, .sitegroup_tab_open ul li a:hover,
.sitepage_tab_open ul li.active > a, .sitegroup_tab_open ul li.active > a{
	display:block;
	background:none repeat scroll 0 0 transparent;
	padding:5px !important;
}
.sitepage_tab_open ul li + li, 
.sitegroup_tab_open ul li + li{
	margin-top:0px;
}
.sitepage_featured_label, 
.sitegroup_featured_label{
	position:absolute;
	left:-1px;
	top:-1px;
}
.sitepage_sponsored_label, 
.sitegroup_sponsored_label{
	clear: both;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px;
	text-align: center;
	font-size:11px;
}
.sitepage_mypage_head, 
.sitegroup_mygroup_head{
	padding-bottom:10px;
	border-bottom-width:1px;
	margin-bottom:10px !important;
}
.sitepage_manage_admin_link, 
.sitegroup_manage_admin_link{
	margin-bottom:15px;
}
.sitepages_browse_filters .form-wrapper, 
.sitegroups_browse_filters .form-wrapper{
	overflow:hidden;
}
.sitepages_browse_filters .integer_field .form-element, 
.sitegroups_browse_filters .integer_field .form-element{
	float:left;
	overflow:hidden;
}
.sitepages_browse_filters .integer_field label, 
.sitegroups_browse_filters .integer_field label{
	display:block;
	margin-bottom:2px;
}
.sitepages_browse_filters .integer_field .form-element + .form-element, 
.sitegroups_browse_filters .integer_field .form-element + .form-element{
	margin-left:5px;
}
.sitepages_browse_filters .integer_field input, 
.sitegroups_browse_filters .integer_field input{
	width:50px;
}
.browsesitepages_criteria > ul > li > ul > li, 
.browsesitegroups_criteria > ul > li > ul > li{
	margin-top:3px;
	padding-top:3px;
}
.sitepage_claim_comment, 
.sitegroup_claim_comment{
	border-width: 5px;
	border-style:solid;
	padding: 12px 12px 12px 12px;
	clear:both;
	margin-top:10px;
}
.sitepage_search_alphabetic a, 
.sitegroup_search_alphabetic a{
	margin:0 2px;
	font-weight:bold;
}
.explore_tag_link{
	float:right;
	font-size:11px;
	margin-top:5px;
}
/*sitepage home page and browse page tabs content*/
.layout_core_container_tabs{
	clear:both;
	margin-bottom:10px;
}
#global_page_sitepage-index-home .layout_core_container_tabs .tabs_alt,
#global_page_sitegroup-index-home .layout_core_container_tabs .tabs_alt{
	margin-bottom:15px !important;
}
.sitepage_view_select, 
.sitegroup_view_select{
	clear:both;
	width:100%;
	padding:0 0 5px 0;
	float:left;
	border-bottom-width:1px;
	margin-bottom:10px;
}
.sitepage_view_select span, 
.sitegroup_view_select span{
	cursor:pointer;
	float:right;
	margin:3px 2px;
}
.layout_sitepagereview_review_tabs, 
.layout_sitegroupreview_review_tabs,
.layout_sitepage_recently_popular_random_sitepage, 
.layout_sitegroup_recently_popular_random_sitegroup{
	margin-bottom:15px;
	clear:both;
}
.sitepage_tabs_loader_img, 
.sitegroup_tabs_loader_img{
	margin:40px 0;
}
.sitepage_img_view, 
.sitegroup_img_view{
	clear:both;
	width:100%;
}
.sitepage_img_view_sitepage, 
.sitegroup_img_view_sitegroup{
	overflow:hidden;
	width:100%;
	float:left;
	clear:both;
}
.sitepage_browse_thumb, .sitegroup_browse_thumb{
	border-width:1px;
	border-radius:5px;
	display: block;
	float: left;
	height: 250px;
	margin:0 16px 24px 0;
	text-align: center;
	overflow:hidden;
	width:180px;
}
.sitepage_browse_thumb .sitepage_browse_thumb_list, 
.sitegroup_browse_thumb .sitegroup_browse_thumb_list{
	border-radius:5px 5px 0 0;
	float:left;
	display:block;
	position:relative;
	width:100%;
}
.sitepage_browse_thumb > div > a, 
.sitegroup_browse_thumb > div > a{
	border-width:1px;
	border-style:solid;
	display:inline-block;
	vertical-align:bottom;
	width:100%;
}
.sitepage_browse_thumb > div > a:hover, 
.sitegroup_browse_thumb > div > a:hover{
	border-width:1px;
	border-style:solid;
}
.sitepage_browse_thumb > div > a > span, 
.sitegroup_browse_thumb > div > a > span{
	height:150px;
	background-position:center 50%;
	display:block;
	background-color:#444;
	background-repeat:no-repeat;
	width:100%;
}
.sitepage_browse_thumb_hover_color, 
.sitegroup_browse_thumb_hover_color{
	background-color:#000;
	opacity:0.2;
	filter:alpha(opacity=20);
	position: absolute;
	height:152px;
	top:0;
	width:100%;
	z-index:9;
}
.sitepage_browse_thumb_hover_like_button, .sitegroup_browse_thumb_hover_like_button,
.sitepage_browse_thumb_hover_unlike_button, .sitegroup_browse_thumb_hover_unlike_button{
	left: 50%;
	position: absolute;
	top: 66px;
	z-index: 10;
}
.sitepage_browse_thumb_hover_like_button, .sitegroup_browse_thumb_hover_like_button{
	margin-left: -25px;
}
.sitepage_browse_thumb_hover_unlike_button, .sitegroup_browse_thumb_hover_unlike_button{
	margin-left: -32px;
}
.sitepage_browse_thumb_hover_loader, 
.sitegroup_browse_thumb_hover_loader{
	left: 50%;
	margin-left: -21px;
	position: absolute;
	top: 65px;
	z-index: 10;
}
html[dir='rtl'] .sitepage_browse_thumb_hover_loader, html[dir='rtl'] .sitegroup_browse_thumb_hover_loader{
	right: 50%;
	margin-right: -21px;
}
.sitepage_browse_thumb .sitepage_browse_title, .sitegroup_browse_thumb .sitegroup_browse_title{
	background:-webkit-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.3) 30px, rgba(22, 24, 27, 0.8));
	background:-moz-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.3) 30px, rgba(22, 24, 27, 0.8));
	background:-o-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.3) 30px, rgba(22, 24, 27, 0.8));
	background:-ms-linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.3) 30px, rgba(22, 24, 27, 0.8));
	background:linear-gradient(top, rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.3) 30px, rgba(22, 24, 27, 0.8));
	bottom:0px;
	position:absolute;
	padding:30px 7px 7px;
	font-weight: bold;
	left:0;
	right:0;
	z-index:9;
}
.sitepage_browse_thumb .sitepage_browse_title p,
.sitepage_browse_thumb .sitepage_browse_title a,
.sitegroup_browse_thumb .sitegroup_browse_title p,
.sitegroup_browse_thumb .sitegroup_browse_title a{
	color:#fff;
	font-size:15px;
	text-shadow: 2px 0 4px #000000;
}
.sitepage_browse_thumb .sitepage_browse_thumb_info, .sitegroup_browse_thumb .sitegroup_browse_thumb_info{
	padding:5px 7px;
	clear:both;
}
.sitepage_browse_thumb .member_count, .sitegroup_browse_thumb .member_count{
	font-weight: bold;
	margin-bottom:5px;
}
.sitepage_browse_thumb .sitepage_browse_thumb_stats, .sitegroup_browse_thumb .sitegroup_browse_thumb_stats{
	font-size: 0.8em;
	margin-bottom:3px;
}
.stop_bounce_link{
	margin:10px 0;
	float:left;
}
.seaocore_browse_list_photo_small{
	float: left;
	margin-right: 8px;
	overflow: hidden;
}
/*BROWSE sitepages*/
.layout_sitepage_pages_sitepage, 
.layout_sitegroup_groups_sitegroup{
	padding:5px;
	overflow:auto;
}
#global_page_sitepage-index-manage #filter_form, #global_page_sitegroup-index-manage #filter_form,
.layout_sitepage_search_sitepage #filter_form, .layout_sitegroup_search_sitegroup #filter_form{
	padding:0px !important;
}
.browsemembers_criteria{
	border-radius: 3px;
	padding:10px !important;
}
.browsemembers_criteria > ul > li{
	margin-bottom:7px;
}
.browsemembers_criteria > ul > li #locationmiles{
	max-width:110px;
}
.browsemembers_criteria > ul > li{
	clear:both;
	font-size:0.8em;
	overflow:hidden;
}
.browsemembers_criteria > ul > li > span{
	display:block;
	margin-bottom:3px;
}
.seaocore_search_criteria .browse-separator-wrapper,
.layout_sitepage_search_sitepage .browse-separator-wrapper, .layout_sitegroup_search_sitegroup .browse-separator-wrapper{
	display:none;
}
.browsemembers_criteria input#search, .browsemembers_criteria input#location{
	width:150px;
}
.browsemembers_criteria button{
	margin-top:7px !important;
}
.seaocore_search_criteria .global_form_box{
	padding:10px !important;
}
.seaocore_search_criteria .global_form_box .form-wrapper{
	margin:0 0 7px 0 !important;
}
.seaocore_search_criteria select{
	max-width:150px;
}
/*sitepage user profile tab*/
ul.sitepages_profile_tab > li, 
ul.sitegroups_profile_tab > li{
  clear: both;
  padding: 0px 10px 0 10px;
	margin-bottom:5px;
  overflow: hidden;
}
ul.sitepages_profile_tab > li + li, 
ul.sitegroups_profile_tab > li + li{
  padding-top: 10px;
  border-top-width: 1px;
	margin-top:10px;
}
ul.sitepages_profile_tab .sitepages_profile_tab_photo, 
ul.sitegroups_profile_tab .sitegroups_profile_tab_photo{
	float:left;
	overflow:hidden;
	margin-right:7px;
	width:100px;
}
html[dir="rtl"] ul.sitepages_profile_tab .sitepages_profile_tab_photo, 
html[dir="rtl"] ul.sitegroups_profile_tab .sitegroups_profile_tab_photo{
	float:right;
	margin-right:0px;
	margin-left:7px;
}
ul.sitepages_profile_tab .sitepages_profile_tab_photo img,
ul.sitegroups_profile_tab .sitegroups_profile_tab_photo img{
	max-width:98px;
}
ul.sitepages_profile_tab .sitepages_profile_tab_info, 
ul.sitegroups_profile_tab .sitegroups_profile_tab_info{
	overflow:hidden;
}
ul.sitepages_profile_tab .sitepages_profile_tab_info div > span, 
ul.sitegroups_profile_tab .sitegroups_profile_tab_info div > span{
	float:left;
	margin-right:5px;
}
ul.sitepages_profile_tab .sitepages_profile_tab_title > a, 
ul.sitegroups_profile_tab .sitegroups_profile_tab_title > a{
	font-weight:bold;
}
ul.sitepages_profile_tab .sitepages_browse_info_date, 
ul.sitegroups_profile_tab .sitegroups_browse_info_date{
	font-size:.8em;
}
ul.sitepages_profile_tab .sitepages_browse_info_blurb, 
ul.sitegroups_profile_tab .sitegroups_browse_info_blurb{
	margin-top:7px;
}
.sitepages_profile_info_member, 
.sitegroups_profile_info_member{
	margin-right: 10px;
	display:inline-block;
}
.sitepages_profile_info_member i, 
.sitegroups_profile_info_member i{
	background-repeat:no-repeat;
	padding: 2px 0 5px 20px;
	font-style:normal;
}
/*css for packages page start here*/
.sitepage_create_wrapper > h3, 
.sitegroup_create_wrapper > h3{
	margin-bottom:5px;
}
.sitepage_create_wrapper > h3 + p, 
.sitegroup_create_wrapper > h3 + p{
	margin-bottom:15px;
}
.sitepage_create_step, 
.sitegroup_create_step{
	border:none;
	margin:0 5px 5px;
	padding:0px;
}
.sitepage_package_page, 
.sitegroup_package_group{
	padding:10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	clear:both;
}
ul.sitepage_package_list, 
ul.sitegroup_package_list{
	border-width:1px;
	border-style:solid;
	padding:5px;
}
ul.sitepage_package_list > li + li, 
ul.sitegroup_package_list > li + li{
	border-top-width:1px;
	border-top-style:solid;
}
ul.sitepage_package_list > li, 
ul.sitegroup_package_list > li{
	clear:both;
	overflow:hidden;
	padding:10px 10px;
}
ul.sitepage_package_list > li > h3, 
ul.sitegroup_package_list > li > h3{
	background: none;
	font-weight: bold;
	letter-spacing: normal;
	margin-top: 3px;
	margin-bottom:5px;
	padding: 0;
}
ul.sitepage_package_list .sitepage_package_list_title, 
ul.sitegroup_package_list .sitegroup_package_list_title{
	overflow:auto;
	padding-bottom:5px;
	margin-bottom:5px;
}
ul.sitepage_package_list .sitepage_package_list_title h3, 
ul.sitegroup_package_list .sitegroup_package_list_title h3{
	background: none;
	font-weight: bold;
	letter-spacing: normal;
	margin-top: 3px;
	padding: 0;
}
.sitepage_create_link, 
.sitegroup_create_link{
	float:right;
}
.sitepage_create_link a, 
.sitegroup_create_link a{
	float:left;
}
[dir="rtl"] .sitepage_create_link, 
[dir="rtl"] .sitegroup_create_link,
[dir="rtl"] .sitepage_create_link a, 
[dir="rtl"] .sitegroup_create_link a{
	float:left;
}
.sitepage_package_stat, 
.sitegroup_package_stat{
	padding:5px;
	overflow:hidden;
	font-size:11px;
}
.sitepage_package_stat span, 
.sitegroup_package_stat span{
	float:left;
	line-height:16px;
	margin-right:10px;
	width:135px;
}
.sitepage_package_stat_apps, 
.sitegroup_package_stat_apps{
	clear:both;
	width:auto !important;
}
ul.sitepage_package_list .sitepage_list_details, 
ul.sitegroup_package_list .sitegroup_list_details{
	clear:both;
	float:left;
	margin-top:10px;
}
[dir="rtl"] ul.sitepage_package_list .sitepage_list_details, 
[dir="rtl"] ul.sitegroup_package_list .sitegroup_list_details{
	float:right;
}
.sitepagepage_layout_left, 
.sitegroupgroup_layout_left{
	overflow:hidden;
}
.sitepagepage_layout_left .global_form > div, 
.sitegroupgroup_layout_left .global_form > div{
	float:none !important;
}
.sitepagepage_layout_left .global_form div.form-label,
.sitegroupgroup_layout_left .global_form div.form-label{
  width: 130px;
}
.sitepagepage_layout_left .global_form div.form-element, 
.sitegroupgroup_layout_left .global_form div.form-element{
	max-width:350px;
	overflow:hidden;
}
.sitepagepage_layout_left .global_form div > div > h3, 
.sitegroupgroup_layout_left .global_form div > div > h3{
	display:none;
}
.sitepagepage_layout_left .global_form div > div > h3 + p, 
.sitegroupgroup_layout_left .global_form div > div > h3 + p{
	max-width:500px;
}
.sitepagepage_layout_left .global_form div > p, 
.sitegroupgroup_layout_left .global_form div > p{
	max-width:330px;
	overflow:auto;
}
#sitepages_create p.description, 
#sitegroups_create p.description{
	font-size:11px !important;
	margin-bottom:0px !important;
	clear:both;
}
#global_page_sitepage-index-create .global_form input + label, 
#global_page_sitegroup-index-create .global_form input + label{
	max-width:300px;
}
#page_url_alert, 
#group_url_alert{
	display:block;
	overflow:hidden;clear:both;
}
#page_url_alert span, 
#group_url_alert span{
	float:left;
	margin:5px 0 2px;
	line-height:12px;
}
#page_url_alert img, 
#group_url_alert img{
	float:left;
	margin-right:3px;
}
.sitepagepage_layout_right, 
.sitegroupgroup_layout_right{
	float:right;
	width:400px;
	margin-left:10px;
}
[dir="rtl"] .sitepagepage_layout_right, 
[dir="rtl"] .sitegroupgroup_layout_right{
	float:left;
	margin-right:10px;
	margin-left:0px;
}
#page_url-element input, 
#group_url-element input{
	float:left;
}
[dir="rtl"] #page_url-element input, 
[dir="rtl"] #group_url-element input{
	float:right;
}
#page_url-element a.check_availability_button, 
#group_url-element a.check_availability_button{
	font-size:11px;
	padding:3px !important;
	margin-left:10px;
	margin-top:2px;
	float:left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
[dir="rtl"] #page_url-element a.check_availability_button, 
[dir="rtl"]  #group_url-element a.check_availability_button{
	float:right;
	margin-left:0px;
	margin-right:10px;
}
#page_url-element a.check_availability_button:hover, 
#group_url-element a.check_availability_button:hover{
	cursor:pointer;
	text-decoration:none;
}
/*css for packages page end here*/
/* css for edit pages form */
.sitepage_form, 
.sitegroup_form{
	clear:both;
	overflow:hidden;
}
.sitepage_form > div, 
.sitegroup_form > div{
	overflow:hidden;
	margin: 0px auto 0px auto;
}
.sitepage_form > div > div, 
.sitegroup_form > div > div{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border-width:5px;
	border-style:solid;
	padding: 12px 12px 12px 12px;
	overflow:hidden;
}

/*Sidebar  Widgets sitepage*/
/* Sidebar Categories block start here*/
.layout_sitepage_popularlocations_sitepage ul.sitepage_browse_category li, 
.layout_sitegroup_popularlocations_sitegroup ul.sitegroup_browse_category li{
	padding:0px !important;
}
ul.sitepage_browse_sitepage_day li, 
ul.sitegroup_browse_sitegroup_day li{
	clear:both;
	overflow:hidden;
	padding:0;
}
ul.sitepage_browse_sitepage_day li img, 
ul.sitegroup_browse_sitepage_day li img{
	width:99%;
}
ul.sitepage_browse_sitepage_day li a + a, 
ul.sitegroup_browse_sitegroup_day li a + a{
	font-weight:bold;
	margin-top:5px;
}
.sitepage_featured, 
.sitegroup_featured{
	padding:5px !important;
	background-image:url(../images/featured_bg.png);
}
.layout_sitepage_popularlocations_sitepage li, 
.layout_sitegroup_popularlocations_sitegroup li{
	border-bottom:none !important;
}
.layout_sitepage_popularlocations_sitepage li div.cat, 
.layout_sitegroup_popularlocations_sitegroup li div.cat{
	border-bottom-width:0px !important;
}
.layout_sitepage_popularlocations_sitepage li + li div.cat, 
.layout_sitegroup_popularlocations_sitegroup li + li div.cat{
	border-bottom-width:0px !important;
	border-top-width:1px;
	border-top-style:solid;
}
/*css for all modules view page*/
.sitepage_viewpages_head, 
.sitegroup_viewgroups_head{
	padding-bottom:5px;
	overflow:auto;
	margin-bottom:10px;
}
.sitepage_viewpages_head h2, 
.sitegroup_viewgroups_head h2{
	font-size: 17px;
	letter-spacing: normal;
	overflow: hidden;
	margin-bottom:3px;
}
.sitepage_viewpages_head > a, 
.sitegroup_viewgroups_head > a{
	float:left;
}
.sitepage_viewpages_head img, 
.sitegroup_viewgroups_head img{
	float:left;
	margin-right:5px;
}
/*sitepage Profile search start here*/
ul.searchbox_autosuggest{
	position:absolute;
	padding:0px;
	z-index:50;
	border-width:2px;
	border-style:solid;
	margin:0 ;
	list-style:none;
	cursor:pointer;
	max-height:300px;
	overflow-y:auto !important;
}
.sitepage_list_filter_field ul.searchbox_autosuggest, 
.sitegroup_list_filter_field ul.searchbox_autosuggest{
	width: 194px !important;
	margin-left: 48px;
}
ul.searchbox_autosuggest > li{
	padding:3px;
	overflow:hidden;
}
ul.searchbox_autosuggest > li + li{
	border-top-width:1px;
	border-style:solid;
}
ul.searchbox_autosuggest > li img{
	display:block;
	float:left;
	margin-right:5px;
	vertical-align:middle;
}
ul.searchbox_autosuggest > li.autocompleter-choices{
	overflow:hidden;
}
ul.searchbox_autosuggest > li.autocompleter-choices > a{
	float:left;
}
ul.searchbox_autosuggest > li.autocompleter-choices .autocompleter-choice{
	line-height:20px;
	padding-top:5px;
	overflow:hidden;
}
ul.searchbox_autosuggest > li span.autocompleter-queried{
	font-weight:bold;
}
ul.searchbox_autosuggest .search-working{
	background-image:none;
}
ul.searchbox_autosuggest .autocompleter-choice{
	cursor:pointer;
}
ul.searchbox_autosuggest .autocompleter-choice:hover{
	color:#5ba1cd;
}
ul.searchbox_autosuggest .autocompleter-choicess{
	text-align:center;
	width:100%;
	padding:5px 0px;
	float:left;
	font-weight:bold;
}
/*sitepage Profile search end here*/
/*POPUP MUSIC PLAYER SKIN*/
body#global_page_sitepagemusic-playlist-view #global_content_simple, 
body#global_page_sitegroupmusic-playlist-view #global_content_simple{
  width: 100%;
}
body#global_page_sitepagemusic-playlist-view #global_content_simple h3, body#global_page_sitegroupmusic-playlist-view #global_content_simple h3,
body#global_page_sitepagemusic-playlist-view #global_content_simple .sitepagemusic_playlist_popout_wrapper, body#global_page_sitegroupmusic-playlist-view #global_content_simple .sitegroupmusic_playlist_popout_wrapper{
  margin-left:auto;
  margin-right:auto;
  width: 430px;
}
/*upload music form start here*/
.icon_sitepagemusic_disableonprofile, 
.icon_sitegroupmusic_disableonprofile,
#form-upload-music #demo-list li.file{
  background-image: url(../images/music/upload_waiting.png);
}
#form-upload-music #demo-list li.file-uploading{
  background-image: url(../images/music/upload_loading.gif);
}
#form-upload-music #demo-list span.file-name{
  display: inline;
}
#form-upload-music #demo-status .buttonlink + .buttonlink{
  margin-left: 20px;
}
html[dir="rtl"] #form-upload-music #demo-status .buttonlink + .buttonlink{
  margin-left: 0px;
  margin-right: 20px;
}
#form-upload-music #demo-list li.file-success,
.icon_sitepagemusic_playonprofile, 
.icon_sitegroupmusic_playonprofile{
  background-image: url(../images/music/music.png);
}
/*upload music form end here*/
/*css for all icon and constand start here*/
/* ICONS */
.icon_sitepage_promotead, .icon_sitegroup_promotead{
	background-image:url(../images/advertising-icon.png);
}
.icon_sitepage_ad_create, .icon_sitegroup_ad_create{
	background-image:url(../images/icons/plus16.gif);
}
.icon_sitepage_update, .icon_sitegroup_update{
	background-image:url(../images/update.png);
}
.icon_sitepage_info, .icon_sitegroup_info{
	background-image:url(../images/info.png);
}
.icon_sitepage_form, .icon_sitegroup_form{
	background-image:url(../images/form.png);
}
.icon_sitepage_publish, .icon_sitegroup_publish{
	background-image:url(../images/sitepage_publish.png);
}
.icon_sitepages_invite, .icon_sitegroups_invite{
	background-image:url(../images/icons/invite.png);
}
.sitepage_gutter_messageowner, .sitegroup_gutter_messageowner{
	background-image:url(../images/invite.png);
}
.icon_sitepages_new, .icon_sitegroups_new{
	background-image:url(../images/create.png);
}
.icon_sitepages_edit, .icon_sitegroups_edit{
	background-image:url(../images/edit.png);
}
.icon_sitepages_dashboard, .icon_sitegroups_dashboard{
	background-image:url(../images/dashboard.png);
}
.icon_sitepages_close, .icon_sitegroups_close{
	background-image:url(../images/close.png);
}
.icon_sitepages_open, .icon_sitegroups_open{
	background-image:url(../images/unclose.png);
}
.icon_sitepages_delete, .icon_sitegroups_delete{
	background-image:url(../images/delete.png);
}
.icon_sitepages_add, .icon_sitegroups_add{
	background-image:url(../images/plus_icon.png);
}
.icon_photos_new{
	background-image:url(../images/photo/add.png);
}
.icon_sitepages_photo_new, .icon_sitegroups_photo_new{
	background-image:url(../images/upload.png);
}
.icon_sitepages_back, .icon_sitegroups_back{
	background-image:url(../images/back.png);
}
.icon_sitepages_share, .icon_sitegroups_share{
	background-image:url(../images/share.png);
}
.icon_sitepages_print, .icon_sitegroups_print{
	background-image:url(../images/printer.png);
}
.icon_sitepages_report, .icon_sitegroups_report{
	background-image:url(../images/report.png);
}
.icon_sitepages_tellafriend, .icon_sitegroups_tellafriend{
	background-image:url(../images/tellafriend_icon.png);
}
.sitepage_quick_create, .sitegroup_quick_create{
	background-image:url(../images/icons/sitepage_add.png);
}
.sitepage_gutter_editstyle, .sitegroup_gutter_editstyle{
	background-image:url(../images/style.png);
}
.icon_sitepages_overview, .icon_sitegroups_overview, 
.sitepage_gutter_editoverview, .sitegroup_gutter_editoverview{
	background-image:url(../images/overview_icon.png);
}
.icon_sitepages_map, .icon_sitegroups_map{
	background-image:url(../images/map.png);
}
.icon_sitepages_map_edit, .icon_sitegroups_map_edit{
	background-image:url(../images/map_edit_icon.png);
}
.icon_sitepages_map_add, .icon_sitegroups_map_add{
	background-image:url(../images/map_add_icon.png);
}
.icon_sitepages_map_delete, .icon_sitegroups_map_delete{
	background-image:url(../images/map_delete_icon.png);
}
.icon_sitepages_comment, .icon_sitegroups_comment{
	background-image:url(../images/comment.png);
}
.sitepage_gutter_favourite, .sitegroup_gutter_favourite{
	background-image:url(../images/link.gif);
}
.sitepage_gutter_favouritedelete, .sitegroup_gutter_favouritedelete{
	background-image:url(../images/unlink.gif);
}
.sitepage_gutter_editlayout, .sitegroup_gutter_editlayout{
	background-image:url(../images/layout_edit.png);
}
.icon_sitepages_dispute, .icon_sitegroups_dispute{
	background-image:url(../images/icon-dispute.gif);
}
.icon_sitepages_claim, .icon_sitegroups_claim{
	background-image:url(../images/claim.png);
}
.icon_sitepage_verified_page, .icon_sitegroup_verified_group{
  background-image:url(../images/checkbox.png);	
}
.icon_sitepages_page-owner, .icon_sitegroups_group-owner{
	background-image:url(../images/page-owner.png);
}
.icon_sitepage_page-member, .icon_sitegroup_group-member{
	background-image:url(../images/member.png);
}
.icon_sitepage_page-member-role{
	background-image:url(../images/role.png);
}
.icon_sitepage_back, .icon_sitegroup_back{
	background-image: url(../images/icons/back16.gif);
}
.sitepge_photos_list div.thumb_photo .photo_hide a{
	background-image: url(../images/close_icon.png) !important;
}
.icon_sitepage_page_link, .icon_sitegroup_page_link{
	background-image: url(../images/page_link.png);
}
/*css for all link button start here*/
.sitepage_badge_buttons a, .sitegroup_badge_buttons a,
.sitepage_featuredadmins_add a, .sitegroup_featuredadmins_add a,
.sitepage_create_link a, .sitegroup_create_link a, 
.sitepage_getstarted_btn a, .sitegroup_getstarted_btn a,
.sitepage_edit_content .sitepage_edit_header > a, .sitegroup_edit_content .sitegroup_edit_header > a{
	padding:5px 10px;
	font-weight:bold;
	border:none;
	background-repeat:repeat-x;
	background-position:0px 1px;
	font-size:11px;
	outline:none;
}
.sitepage_badge_buttons a:hover, .sitegroup_badge_buttons a:hover, 
.sitepage_featuredadmins_add a:hover, .sitegroup_featuredadmins_add a:hover,
.sitepage_create_link a:hover, .sitegroup_create_link a:hover,
.sitepage_getstarted_btn a:hover, .sitegroup_getstarted_btn a:hover, 
.sitepage_edit_content .sitepage_edit_header > a:hover, .sitegroup_edit_content .sitegroup_edit_header > a:hover{
	cursor:pointer;
	text-decoration:none;
}
/*css for all link button end here*/
/*css for all icon and constand end here*/
/*discussion icon start here*/
.icon_sitepage_highlighted, .icon_sitegroup_highlighted{
	background-image: url(../images/icons/highlighted.png);
}
.icon_sitepage_unhighlighted, .icon_sitegroup_unhighlighted{
	background-image: url(../images/icons/unhighlighted.png);
}
.icon_sitepage_post_new, .icon_sitegroup_post_new{
	background-image: url(../images/post/create.png);
}
.icon_sitepage_post_edit, .icon_sitegroup_post_edit{
	background-image: url(../images/post/edit.png);
}
.icon_sitepage_post_reply, .icon_sitegroup_post_reply{
	background-image: url(../images/post/reply.png);
}
.icon_sitepage_post_stick, .icon_sitegroup_post_stick{
	background-image: url(../images/post/stick.png);
}
.icon_sitepage_post_unstick, .icon_sitegroup_post_unstick{
	background-image: url(../images/post/unstick.png);
}
.icon_sitepage_post_close, .icon_sitegroup_post_close{
	background-image: url(../images/post/close.png);
}
.icon_sitepage_post_open, .icon_sitegroup_post_open{
	background-image: url(../images/post/unclose.png);
}
.icon_sitepage_post_rename, .icon_sitegroup_post_rename{
	background-image: url(../images/post/rename.png);
}
.icon_sitepage_post_delete, .icon_sitegroup_post_delete{
	background-image: url(../images/post/delete.png);
}
.icon_sitepage_post_quote, .icon_sitegroup_post_quote{
	background-image: url(../images/post/quote.png);
}
.icon_sitepage_topic_watch, .icon_sitegroup_topic_watch{
	background-image: url(../images/watch.png);
}
.icon_sitepage_topic_unwatch, .icon_sitegroup_topic_unwatch{
	background-image: url(../images/unwatch.png);
}
.icon_sitepage_photo_new, .icon_sitegroup_photo_new{
	background-image: url(../images/photo/upload.png);
}
.icon_sitepage_photo_view, .icon_sitegroup_photo_view{
	background-image: url(../images/photo/view.png);
}
ul.sitepage_sitepages .sitepage_sitepages_sticky > a, ul.sitepage_sitepages .sitegroup_sitegroups_sticky > a{
	background-image: url(../images/post/stick.png);
}
div.sitepage_sitepages_thread_options_closed, div.sitegroup_sitegroups_thread_options_closed{
	background-image: url(../images/post/close.png);
}
.activity_icon_sitepage_topic_reply, .activity_icon_sitegroup_topic_reply,
.item_icon_sitepage_post, .item_icon_sitegroup_post,
.notification_type_sitepage_discussion_response, .notification_type_sitegroup_discussion_response,
.notification_type_sitepage_discussion_reply, .notification_type_sitegroup_discussion_reply{
	background-image: url(../images/types/post.png);
}
/*discussion icon end here*/
/*note icon start here*/
 /* ICONS */
.icon_sitepagenote_new, .icon_sitegroupnote_new{
	background-image: url(../images/icons/new.png);
}
.icon_sitepagenote_edit, .icon_sitegroupnote_edit{
	background-image: url(../images/icons/edit.png);
}
.icon_sitepagenote_delete, .icon_sitegroupnote_delete{
	background-image: url(../images/icons/delete.png);
}
.icon_sitepagenote_photo_new, .icon_sitegroupnote_photo_new{
	background-image: url(../images/icons/upload.png);
}
.icon_sitepagenote_photo_edit, .icon_sitegroupnote_photo_edit{
	background-image: url(../images/icons/album_editinfo.png);
}
.icon_sitepagenote_viewall, .icon_sitegroupnote_viewall{
	background-image: url(../images/icons/note.png);
}
.icon_sitepagenote_publish, .icon_sitegroupnote_publish{
	background-image: url(../images/icons/sitepagenote_publish.png);
}
.icon_sitepagenote_photos_flip_horizontal, .icon_sitegroupnote_photos_flip_horizontal{
	background-image: url(../images/icons/flip_horizontal.png);
}
.icon_sitepagenote_photos_flip_vertical, .icon_sitegroupnote_photos_flip_vertical{
	background-image: url(../images/icons/flip_vertical.png);
}
.icon_sitepagenote_photos_rotate_ccw, .icon_sitegroupnote_photos_rotate_ccw{
	background-image: url(../images/icons/rotate_ccw.png);
}
.icon_sitepagenote_photos_rotate_cw, .icon_sitegroupnote_photos_rotate_cw{
	background-image: url(../images/icons/rotate_cw.png);
}
/*note icon end here*/
/*event icon start here*/
.icon_sitepageevent_new, .icon_sitegroupevent_new, 
.icon_sitepageevent_create, .icon_sitegroupevent_create{
	background-image: url(../images/icons/sitepageevent_create.png);
}
.icon_sitepageevent_edit, .icon_sitegroupevent_edit{
	background-image: url(../images/icons/edit.png);
}
.activity_icon_sitepageevent_join, .activity_icon_sitegroupevent_join, 
.icon_sitepageevent_join, .icon_sitegroupevent_join{
	background-image: url(../images/icons/sitepageevent_join.png);
}
.icon_sitepageevent_delete, .icon_sitegroupevent_delete{
	background-image: url(../images/icons/delete.png);
}
.icon_sitepageevent_leave, .icon_sitegroupevent_leave{
	background-image: url(../images/icons/sitepageevent_leave.png);
}
.icon_sitepageevent_accept, .icon_sitegroupevent_accept{
	background-image: url(../images/icons/sitepageevent_accept.png);
}
.icon_sitepageevent_reject, .icon_sitegroupevent_reject{
	background-image: url(../images/icons/sitepageevent_reject.png);
}
.icon_sitepageevent_cancel, .icon_sitegroupevent_cancel{
	background-image: url(../images/icons/sitepageevent_cancel.png);
}
.sitepageevent_rsvp .sitepageevent_radio_loading, .sitegroupevent_rsvp .sitegroupevent_radio_loading{
	background-image: url(../images/loading.gif);
}
/*event icon end here*/
/*poll icon start here*/
 /* ACTION TYPE ICONS */
.activity_icon_comment_sitepagepoll, .activity_icon_comment_sitegrouppoll{
	background-image: url(../images/types/post.png);
}
/* ITEM TYPE ICONS */
.icon_sitepagepoll_close, .icon_sitegrouppoll_close{
  background-image: url(../images/icons/close.png);
}
.icon_sitepagepoll_open, .icon_sitegrouppoll_open{
  background-image: url(../images/icons/unclose.png);
}
/* ICONS */
.icon_sitepagepoll_new, .icon_sitegrouppoll_new{
	background-image: url(../images/icons/sitepagepoll_new.png);
}
.icon_sitepagepoll_delete, .icon_sitegrouppoll_delete{
	background-image: url(../images/icons/sitepagepoll_delete.png);
}
.sitepagepoll_view_single .sitepagepoll_radio_loading, .sitegrouppoll_view_single .sitegrouppoll_radio_loading{
	background-image: url(../images/icons/loading.gif);
}
/*poll icon end here*/
/*document icon start here*/
.activity_icon_comment_sitepagedocument, .activity_icon_comment_sitegroupdocument{
	background-image: url(../images/types/post.png);
}
.item_icon_sitepagedocument, .item_icon_sitegroupdocument{
	background-image: url(../images/icons/sitepagedocument.png) !important;
}
.icon_sitepagedocument_new, .icon_sitegroupdocument_new{
	background-image: url(../images/icons/sitepagedocument_new.png);
}
.icon_sitepagedocument_edit, .icon_sitegroupdocument_edit{
	background-image: url(../images/icons/sitepagedocument_edit.png);
}
.icon_sitepagedocument_delete, .icon_sitegroupdocument_delete{
	background-image: url(../images/icons/sitepagedocument_delete.png);
}
.item_icon_sitepagedocument_detail, .item_icon_sitegroupdocument_detail, 
.icon_sitepagedocument_viewall, .icon_sitegroupdocument_viewall{
	background-image: url(../images/icons/sitepagedocument_allentries.png);
}
.icon_sitepagedocument_featured0, .icon_sitegroupdocument_featured0{
	background-image: url(../images/icons/sitepagedocument_goldmedal0.png);
}
.icon_sitepagedocument_featured1, .icon_sitegroupdocument_featured1{
	background-image: url(../images/icons/sitepagedocument_goldmedal1.png);
}
.icon_sitepagedocument_publish, .icon_sitegroupdocument_publish{
	background-image: url(../images/icons/sitepagedocument_publish.png);
}
.item_icon_sitepagedocument_document, .item_icon_sitegroupdocument_document{
	background-image: url(../images/icons/sitepagedocument16.png);
}
/*document icon end here*/
/*video icons start here*/
 /* ICONS */
.icon_sitepagevideo_comment, .icon_sitegroupvideo_comment{
	background-image: url(../images/icons/comment.png);
}
.icon_type_sitepagevideo_new, .icon_type_sitegroupvideo_new{
	background-image: url(../images/icons/sitepagevideo_new.png);
}
.icon_type_sitepagevideo_edit, .icon_type_sitegroupvideo_edit{
	background-image: url(../images/icons/edit.png);
}
.icon_type_sitepagevideo_delete, .icon_type_sitegroupvideo_delete{
	background-image: url(../images/icons/delete.png);
}
.icon_type_sitepagevideo_back, .icon_type_sitegroupvideo_back{
	background-image: url(../images/icons/back.gif);
}
.icon_type_sitepagevideo_share, .icon_type_sitegroupvideo_share{
	background-image: url(../images/icons/share.png);
}
.icon_type_sitepagevideo_report, .icon_type_sitegroupvideo_report{
	background-image: url(../images/icons/sitepagevideo_report.png);
}
.icon_type_sitepagevideo_embed, .icon_type_sitegroupvideo_embed{
	background-image: url(../images/icons/embed.png);
}
/*video icons end here*/
/*review icons start here*/
.icon_sitepagereview_back, .icon_sitegroupreview_back{
	background-image: url(../images/icons/back16.gif);
}
/*review icons end here*/
/*offer icons start here*/
.sitepage_icon_add, .sitegroup_icon_add, 
.sitepageoffer_type_addoffer, .sitegroupoffer_type_addoffer{
	background-image: url(../images/icons/add.png);
}
.sitepageoffer_type_editoffer, .sitegroupoffer_type_editoffer{
	background-image: url(../images/icons/edit.png);
}
.sitepageoffer_type_deleteoffer, .sitegroupoffer_type_deleteoffer{
	background-image: url(../images/icons/delete.png);
}
.sitepageoffer_type_makefeatured, .sitegroupoffer_type_makefeatured{
	background-image: url(../images/icons/offer_featured.png);
}
.sitepageoffer_type_removefeatured, .sitegroupoffer_type_removefeatured{
	background-image: url(../images/icons/offer_unfeatured.png);
}
.item_icon_sitepageoffer_offer, .item_icon_sitegroupoffer_offer{
	background-image: url(../images/icons/offer.png);
}
/*offer icons end here*/
/*invite icons start here*/
.sitepageinvite_gutter_sitepageinvite, .sitegroupinvite_gutter_sitepageinvite{
	background-image:url(../images/icons/invite.png);
}
.notification_type_sitepage_suggested, .notification_type_sitegroup_suggested{
	background-image:url(../images/icons/sitepage.png);
}
/*invite icons end here*/
/*album icon sstart here*/
.sitepage_icon_move, .sitegroup_icon_move{
	background-image: url(../images/photo/move.png);
}
.sitepage_icon_photos_new, .sitegroup_icon_photos_new{
	background-image: url(../images/photo/add.png);
}
.sitepage_icon_photos_settings, .sitegroup_icon_photos_settings{
	background-image: url(../images/photo/album_editinfo.png);
}
.sitepage_icon_photos_delete, .sitegroup_icon_photos_delete{
	background-image: url(../images/photo/album_delete.png);
}
.icon_sitepage_photos_flip_horizontal, .icon_sitegroup_photos_flip_horizontal{
	background-image: url(../images/icons/flip_horizontal.png);
}
.icon_sitepage_photos_flip_vertical, .icon_sitegroup_photos_flip_vertical{
	background-image: url(../images/icons/flip_vertical.png);
}
.icon_sitepage_photos_rotate_ccw, .icon_sitegroup_photos_rotate_ccw{
	background-image: url(../images/icons/rotate_ccw.png);
}
.icon_sitepage_photos_rotate_cw, .icon_sitegroup_photos_rotate_cw{
	background-image: url(../images/icons/rotate_cw.png);
}
/*album icon end here*/
/*sitepagemusic icons start here*/
/* ICONS */
.icon_sitepagemusic_new, .icon_sitegroupmusic_new{
  background-image: url(../images/music/music-add.png);
}
.icon_sitepagemusic_edit, .icon_sitegroupmusic_edit{
  background-image: url(../images/edit.png);
}
.icon_sitepagemusic_delete, .icon_sitegroupmusic_delete{
  background-image: url(../images/delete.png);
}
.icon_music_playonprofile, .icon_music_disableonprofile{
  background-image: url(~/application/modules/Sitepagemusic/externals/images/upload.png);
}
.icon_music_upload{
  background-image: url(~/application/modules/Sitepagemusic/externals/images/upload.png);
}
/*sitepagemusic icons end here*/
/*css for fbse like button start here*/
.layout_Facebookse_facebookse_sitepageeventprofilelike, .layout_Facebookse_facebookse_sitegroupeventprofilelike, 
.layout_Facebookse_facebookse_sitepageprofilelike, .layout_Facebookse_facebookse_sitegroupprofilelike{
	clear: both;
	margin-bottom: 10px;
}
/*css for fbse like button end here*/
li.sitepageoffer_show, li.sitegroupoffer_show{
	padding:10px !important;
}
.sitepage-rating-star, .sitegroup-rating-star{
	width:9px;
	height:9px;
}
.adpreview_seprator{
	display:block;
	height:0px;
	clear:both;
}
.sitepage_payment_process, .sitegroup_payment_process{
	text-align:center;
	margin-top:15px;
	font-size:17px;
}
.sitepage_seeall_link, sitegroup_seeall_link{
	float:right;
	font-size:11px;
}
/*activity feeds*/
/*sitepage gutter page view start here*/
.sitepage_gutter, .sitegroup_gutter{
	padding: 7px;
	overflow: hidden;
	text-align:center;
	margin-bottom:15px;
}
.sitepage_gutter img, .sitegroup_gutter img{
	width: 99%;
	margin: 0px auto 0px auto;
}
.sitepage_gutter a, .sitegroup_gutter a{
	font-weight:bold;
}
.sitepage_gutter_options, .sitegroup_gutter_options{
	margin-bottom:15px;
	clear:both;
}
.sitepage_gutter_name, .sitegroup_gutter_name{
	display: block;
	margin: 5px;
	font-size:17px;
}
.sitepage_gutter_view, .sitegroup_gutter_view{
	overflow:hidden;
}
ul.sitepage_gutter_view h3, ul.sitegroup_gutter_view h3{
	letter-spacing: normal;
	margin-bottom: 1px;
}
ul.sitepage_gutter_view .sitepage_gutter_view_stats, ul.sitegroup_gutter_view .sitegroup_gutter_view_stats{
	font-size: 8pt;
}
ul.sitepage_gutter_view .sitepage_gutter_view_des, ul.sitegroup_gutter_view .sitegroup_gutter_view_des{
	margin-top:5px;
}
.sitepagewishlist_print_popup, .sitegroupwishlist_print_popup{
	width:600px;
	padding:10px;
}
.sitepagewishlist_print_close, .sitegroupwishlist_print_close{
	cursor: pointer;
	float: right;
	margin:0 -10px 0 0px;
}
.browse_wishlist_options{
	width:200px !important;
}
.icon_sitepagewishlist, .icon_sitegroupwishlist{
	background-image:url(../images/wishlist/wishlist.png);
}
.icon_sitepagewishlist_add, .icon_sitegroupwishlist_add{
	background-image:url(../images/wishlist/wishlist_add.png);
}
.icon_sitepagewishlist_remove, .icon_sitegroupwishlist_remove{
	background-image:url(../images/wishlist/wishlist_remove.png);
}
.icon_sitepages_like, .icon_sitegroups_like{
	background-image: url(../images/like.png);
}
.layout_sitepagewishlist_user_wishlists_sitepagewishlist, .layout_sitegroupwishlist_user_wishlists_sitegroupwishlist{
	margin-top:15px;
}
.layout_sitepagewishlist_user_wishlists_sitepagewishlist ul, .layout_sitegroupwishlist_user_wishlists_sitepagewishlist ul{
	margin-bottom:0px !important;
}
.layout_sitepagewishlist_user_wishlists_sitepagewishlist .sitepage_sidebar_list_info, .layout_sitegroupwishlist_user_wishlists_sitegroupwishlist .sitegroup_sidebar_list_info{
	padding:0px !important;
}
.layout_sitepagewishlist_user_wishlists_sitepagewishlist li > a, .layout_sitegroupwishlist_user_wishlists_sitegroupwishlist li > a{
	float: right !important;
	font-size: 11px;
}
/*sitepage gutter page view end here*/
/*sitepage searchbox start here*/
.layout_sitepage_searchbox_sitepage, .layout_sitegroup_searchbox_sitegroup{
	margin-bottom:15px;
}
.sitepage-search-box .form-label, .sitegroup-search-box .form-label{
	display:none;
}
.sitepage-search-box .form-element input, .sitegroup-search-box .form-element input{
	width:160px;
}
/*sitepage searchbox end here*/
/*sitepage content home pages css*/
.show_content_des{
	position:absolute;
	display:none;
	background: #222;
	color:#FFFFFF;
	padding:4px;
	font-size:11px;
	bottom:0px;
	left:0px;
	right:0px;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.show_content_des a{
	color:#FFFFFF;
	text-decoration:underline;
}
.featured_thumb_content:hover .show_content_des,
.thumbs_nocaptions > li:hover .show_content_des{
	display:block;
}
.sitepage_content_thumbs > li, .sitegroup_content_thumbs > li{
	height: 220px !important;
	width: 152px !important;
}
.sitepage_content_thumbs > li .thumbs_photo, .sitegroup_content_thumbs > li .thumbs_photo{
	overflow:hidden;
}
.sitepage_content_thumbs > li .thumbs_photo span, .sitegroup_content_thumbs > li .thumbs_photo span{
	text-align:center;
}
.sitepage_content_thumbs > li .thumbs_photo img, .sitegroup_content_thumbs > li .thumbs_photo img{
	max-height:106px;
	max-width:142px;
	border:none;
}
.sitepage_content_thumbs > li .thumbs_title > img, .sitegroup_content_thumbs > li .thumbs_title > img{
	margin:0 2px;
}
/*Sitepage album generic widgets*/
.layout_sitepagecontent_link, .layout_sitegroupcontent_link{
	margin-bottom: 15px;
}
.generic_list_widget .photo img{
	display: inline !important;
}
.generic_list_widget_large_photo .photo a{
	margin:0px;
	padding:0px;
}
.generic_list_widget_large_photo .photo img{
	margin: 0 auto;
	max-width: 99%;
}
.generic_list_widget_day{
	text-align:center;
}

/*Browse Location Page*/
.sitepage_advanced_search_form, .sitegroup_advanced_search_form{
  padding: 0;
  margin-bottom: 15px;
}
.sitepage_advanced_search_form > form, .sitegroup_advanced_search_form > form{
	clear:both;
	overflow:hidden;
	padding:10px !important;
}
.sitepage_advanced_search_form li, .sitegroup_advanced_search_form li{
	margin:5px 5px 0 0;
	display:inline-block;
}
.sitepage_advanced_search_form li#group1, .sitegroup_advanced_search_form li#group1,
.sitepage_advanced_search_form li#group2, .sitegroup_advanced_search_form li#group2,
.sitepage_advanced_search_form li#group3, .sitegroup_advanced_search_form li#group3{
	margin:0px;
	display:inherit;
}
.sitepage_advanced_search_form  .form-wrapper,
.sitegroup_advanced_search_form  .form-wrapper{
	margin:0px !important;
}
.sitepage_advanced_search_form #fieldset-grp3 .form-wrapper, .sitegroup_advanced_search_form #fieldset-grp3 .form-wrapper{
	width:30%;
	float:left;
}
.sitepage_advanced_search_form #fieldset-grp3 #locationmiles-wrapper, .sitegroup_advanced_search_form #fieldset-grp3 #locationmiles-wrapper{
	float:left;
	width:20%;
}
.sitepage_advanced_search_form #advances_search, .sitegroup_advanced_search_form #advances_search{
	float: left;
	font-size: 11px;
	margin-top: 20px;
}
html[dir="rtl"] .sitepage_advanced_search_form #fieldset-grp3 .form-wrapper,
html[dir="rtl"] .sitegroup_advanced_search_form #fieldset-grp3 .form-wrapper,
html[dir="rtl"] .sitepage_advanced_search_form #fieldset-grp3 #locationmiles-wrapper,
html[dir="rtl"] .sitegroup_advanced_search_form #fieldset-grp3 #locationmiles-wrapper,
html[dir="rtl"] .sitepage_advanced_search_form #advances_search,
html[dir="rtl"] .sitegroup_advanced_search_form #advances_search{
	float:right;
}
.sitepage_advanced_search_form #fieldset-grp3 .form-label, .sitegroup_advanced_search_form #fieldset-grp3 .form-label{
	font-weight:bold;
}
.sitepage_advanced_search_form #fieldset-grp3 .form-element input[type="text"], .sitegroup_advanced_search_form #fieldset-grp3 .form-element input[type="text"],
.sitepage_advanced_search_form #fieldset-grp3 .form-element select, .sitegroup_advanced_search_form #fieldset-grp3 .form-element select{
	font-size:16px;
	width:90%;
}
.sitepage_advanced_search_form #fieldset-grp3 .description, .sitegroup_advanced_search_form #fieldset-grp3 .description{
	font-size:10px;
	padding-top:5px;
}
.sitepage_advanced_search_form #fieldset-grp1, .sitegroup_advanced_search_form #fieldset-grp1, 
.sitepage_advanced_search_form #fieldset-grp2, .sitegroup_advanced_search_form #fieldset-grp2{
	border-width:1px;
	border-style:solid;
	clear:both;
	margin:5px 0 0;
	padding:10px 5px 10px 0;
	display:none;
}
.sitepage_advanced_search_form #fieldset-grp1 .form-wrapper, .sitegroup_advanced_search_form #fieldset-grp1 .form-wrapper,
.sitepage_advanced_search_form #fieldset-grp2 .form-wrapper, .sitegroup_advanced_search_form #fieldset-grp2 .form-wrapper{
	margin:2px 0 2px 10px !important;
	display:inline-block;
}
html[dir="rtl"] .sitepage_advanced_search_form #fieldset-grp1 .form-wrapper, 
html[dir="rtl"] .sitegroup_advanced_search_form #fieldset-grp1 .form-wrapper, 
html[dir="rtl"] .sitepage_advanced_search_form #fieldset-grp2 .form-wrapper,
html[dir="rtl"] .sitegroup_advanced_search_form #fieldset-grp2 .form-wrapper{
	margin-left:0px;
	margin-right:10px;
}
.sitepage_advanced_search_form #fieldset-grp1 .form-wrapper input[type="checkbox"] + label,
.sitegroup_advanced_search_form #fieldset-grp1 .form-wrapper input[type="checkbox"] + label, 
.sitepage_advanced_search_form #fieldset-grp1 .form-wrapper input[type="radio"] + label,
.sitegroup_advanced_search_form #fieldset-grp1 .form-wrapper input[type="radio"] + label,
.sitepage_advanced_search_form #fieldset-grp2 .form-wrapper input[type="checkbox"] + label,
.sitegroup_advanced_search_form #fieldset-grp2 .form-wrapper input[type="checkbox"] + label,
.sitepage_advanced_search_form #fieldset-grp2 .form-wrapper input[type="radio"] + label,
.sitegroup_advanced_search_form #fieldset-grp2 .form-wrapper input[type="radio"] + label{
	display:inline;
}
.sitepage_advanced_search_form #fieldset-grp2 #or-wrapper, .sitegroup_advanced_search_form #fieldset-grp2 #or-wrapper{
	display:block;
}
.sitepage_advanced_search_form #fieldset-grp2 #or-wrapper .form-label, .sitegroup_advanced_search_form #fieldset-grp2 #or-wrapper .form-label{
	border-top-width: 1px;
	float: left;
	margin:10px 0 5px;
	position: relative;
	width: 100%;
}
html[dir="rtl"] .sitepage_advanced_search_form #fieldset-grp2 #or-wrapper .form-label,
html[dir="rtl"] .sitegroup_advanced_search_form #fieldset-grp2 #or-wrapper .form-label{
	float:right;
}
.sitepage_advanced_search_form #fieldset-grp2 #or-wrapper .form-label label, .sitegroup_advanced_search_form #fieldset-grp2 #or-wrapper .form-label label{
	font-size: 13px;
	font-weight: bold;
	left: 50%;
	position: absolute;
	top: -10px;
}
.sitepage_advanced_search_form #done-wrapper, .sitegroup_advanced_search_form #done-wrapper{
	padding-top:15px;
	width:115px !important;
}
.sitepage_advanced_search_form ul > li .form-options-wrapper li, .sitegroup_advanced_search_form ul > li .form-options-wrapper li{
	display: inline-block;
	margin: 0 2px 3px;
}
.sitepage_advanced_search_form ul > li .form-options-wrapper li label, .sitegroup_advanced_search_form ul > li .form-options-wrapper li label{
	display:inline;
}
.sitepage_advanced_search_form #done-wrapper{
	padding-top:15px;
	width:115px !important;
}
.sitepage_advanced_search_form #done-wrapper > div, .sitegroup_advanced_search_form #done-wrapper > div{
	display:inline;
}
.sitepage_advanced_search_form #done-wrapper .form-label, .sitegroup_advanced_search_form #done-wrapper .form-label{
	display:none !Important;
}
.sitepage_advanced_search_form #done-wrapper button, .sitegroup_advanced_search_form #done-wrapper button{
	padding:5px 10px;
	font-size:12px;
}
.sitepage_advanced_search_form  .browse-separator-wrapper, .sitegroup_advanced_search_form .browse-separator-wrapper{
	display:none;
}
.sitepage_browse_location, .sitegroup_browse_location{
	clear:both;
	margin-bottom:15px;
	position:relative;
	overflow:hidden;
	width:100%;
}
.sitepage_map_container_list, .sitegroup_map_container_list{
	overflow:hidden;
	padding-right:10px;
}
.sitepage_map_container_list ul.seaocore_browse_list, .sitegroup_map_container_list ul.seaocore_browse_list{
	margin-right:5px;
}
.sitepage_map_container_list ul.seaocore_browse_list li, .sitegroup_map_container_list ul.seaocore_browse_list li{
	border-top-width:1px;
	padding-top:10px;
}
.sitepage_browse_location_paging, .sitegroup_browse_location_paging{
	overflow:hidden;
}
.sitepage_browse_location_paging > div, .sitegroup_browse_location_paging > div{
	display:inline;
	float:left;
	margin:0px;
}
.sitepage_map_container_right, .sitegroup_map_container_right{
	width:40%;
	padding:1px;
	float:right;
	min-height:600px;
}
.sitepage_map_container, .sitegroup_map_container{
	border-width:1px;
	border-style:solid;
	width:40%;
}
.sitepage_map_container.absolute, .sitegroup_map_container.absolute{
	position:absolute;
	right:0px !important;
	top:0;
}
.sitepage_map_container.fixed, .sitegroup_map_container.fixed{
	position:fixed;
	top:0px;
}
.sitepage_map_container.bottom, .sitegroup_map_container.bottom{
	bottom:0px;
	position:absolute;
	right:0px !important
}
.sitepage_map_container.sitepage_map_container_exp, .sitegroup_map_container.sitegroup_map_container_exp{
	width:600px !important;
}
.sitepage_map_container.sitepage_map_container_exp #sitepagelocation_browse_map_canvas,
.sitegroup_map_container.sitegroup_map_container_exp #sitegrouplocation_browse_map_canvas{
	height:500px !important;
}
.sitepage_map_container_topbar, .sitegroup_map_container_topbar{
	padding:5px;
	overflow:hidden;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.sitepage_map_container_map_area, .sitegroup_map_container_map_area{
	border-style:solid none none none;
	border-width:1px;
	width:100%;
}
/* Multiple Location Fields*/
.layout_sitepage_location_sitepage .layout_middle,
.layout_sitegroup_location_sitegroup .layout_middle{
	padding-bottom: 110px;
}
.sitepage_location_fields.sitepage_list_highlight,
.sitegroup_location_fields.sitegroup_list_highlight{
	background-image:url(../images/featured_bg.png);
}
.sitepage_location_fields, .sitegroup_location_fields{
	clear:both;	
	overflow:visible;
	padding: 5px;
}
.sitepage_location_fields_map_wrapper, .sitegroup_location_fields_map_wrapper{
	margin: 5px 0 5px 15px;
	width:200px;
  height:230px;
}
.sitepage_location_fields_map, .sitegroup_location_fields_map{
	border-width:1px;
	position:absolute;
	right:0;
	top:0;
}
.sitepage_location_fields_map_canvas, .sitegroup_location_fields_map_canvas {
	height: 200px;
	width:100%;
	z-index: 10;
}
.sitepage_location_fields_map_wrapper.map_wrapper_extend, 
.sitegroup_location_fields_map_wrapper.map_wrapper_extend{
	z-index:100;
}
.sitepage_location_fields_head, .sitegroup_location_fields_head{
	padding:5px;
	font-weight: bold;
	background-image:url(../images/featured_bg.png);
}
.sitepage_location_fields_map_canvas > div, .sitegroup_location_fields_map_canvas > div{
	height: 200px;
}
.sitepage_location_fields_details, .sitegroup_location_fields_details{
 	overflow:hidden;	
}
.sitepage_location_fields_details span > span.location_get_direction{
	font-size: 0.8em;
}
.sitepage_location_fields_option a, .sitegroup_location_fields_option a{
	margin-right:10px;
}
.sitepage_location_fields > ul > li > span, .sitegroup_location_fields > ul > li > span{
	width:120px !important;
} 
.sitepage_location_fields > ul > li > span + span, .sitegroup_location_fields > ul > li > span + span {
	width:auto !important;
	overflow:hidden;
}
.sitepage_horizontal_search_form #fieldset-grp1, .sitegroup_horizontal_search_form #fieldset-grp1,
.sitepage_horizontal_search_form #fieldset-grp2, .sitegroup_horizontal_search_form #fieldset-grp2 {
  display: block !important; 
}