.go-quicklinks { overflow: hidden; clear:both; }
.go-quicklinks li {display:inline;}
.go_send_emails { background: url(~/application/modules/Grandopening/externals/images/send.png) no-repeat; }
#global_page_grandopening-admin-settings-index .go_note { +rounded; margin: 7px 5px 7px 15px; padding: 5px 15px 5px 32px; background-repeat: no-repeat; background-position: 8px 5px; overflow: hidden; border: 1px solid #ccc; background-image: url(~/application/modules/Core/externals/images/notice.png); background-color: #e9faeb;
}
.settings form { margin-right:10px;}
.go_table_export {background: url(~/application/modules/Grandopening/externals/images/table_export.png) no-repeat;}

#global_page_grandopening-admin-manage-index .global_form > div {
    background-color: #E9F4FA;
    border-radius: 5px 5px 5px 5px;
    float: right;
    padding: 7px;	
	}
#global_page_grandopening-admin-manage-index .global_form > div > div {background:#fff; padding:10px}
#global_page_grandopening-admin-manage-index table.admin_table { width:650px; }
.confirm_buttons button {margin-right:10px;}
#global_page_grandopening-admin-settings-index #inviteonly-element {float:none;}

#global_page_grandopening-admin-settings-index div.event_calendar_container button.event_calendar{
	background-repeat: no-repeat;
}
.admin_file_name {
    width: 325px !important;
    word-break: break-all;
    display: inline-block !important;
}

.admin_file_name.active {
    font-weight: bold;
}