/*Icons*/
.notification_type_sitepage_join, .notification_type_sitepagemember_approve, .notification_type_sitepagemember_invite {
	background-image: url(~/application/modules/Sitepagemember/externals/images/member/join.png);
}
.activity_icon_sitepage_join, .icon_sitepage_join, .icon_sitepage_join_page, .notification_type_sitepage_addmember{
	background-image:url(~/application/modules/Sitepage/externals/images/add_more_pages.png);
}
.icon_sitepage_member{
	background-image: url(~/application/modules/Sitepagemember/externals/images/member/member.png);
}
.notification_type_sitepagemember_accepted, .icon_sitepage_accept, .icon_sitepage_accept{
	background-image: url(~/application/modules/Sitepagemember/externals/images/member/accept.png);
}
.icon_sitepage_ad_member{
	background-image: url(~/application/modules/Sitepage/externals/images/icons/add.png);
}
.notification_type_sitepagemember_invite{
	background-image: url(~/application/modules/Sitepagemember/externals/images/member/invite.png);
}
.icon_sitepage_leave{
	background-image: url(~/application/modules/Sitepagemember/externals/images/member/leave.png);
}
.sitepagemember_profile_list_options_wrapper:hover .settings_icon,
.sitepagemember_profile_list_options{
	background-color:$theme_pulldown_contents_background_color;
	border:1px solid $theme_pulldown_border_color;
}