* {
  font-family: arial, verdana, sans-serif;
}
h3 {
  font-size: 15px;
}
ul li a {
  display: block;
  float: left;
}
ul li {
  overflow: hidden;
  padding: 10px 0 10px 0;
  margin: 0;
  border-bottom: 1px solid #EAF2ED;
}
ul {
  font-size: 13px;
  list-style-type: none;
}
.browsemembers_results_info {
  font-weight: bold;
  overflow: hidden;
}
#browsemembers_ul li img {
  border: 1px solid #ddd;
  margin-right: 5px;
}
.link_button {
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #094B09;
  padding: 5px 7px;
  line-height: 14px;
  font-weight: 700;
  background-color: #40613B;
  color: #fff;
  background-image: url(/application/themes/mgsl/images/button_bg.png?c=220);
  background-repeat: repeat-x;
  background-position: 0 0;
  margin: 4px 1px 10px 0;
  display: block;
  float: left;
}
.link_button:hover {
  background-color: #40613B;
  background-image: none;
  cursor: pointer;
  text-decoration: none;
}
a.link_button+a.link_button {
  margin-left: 10px;
}
a:link, a:visited {
  text-decoration: none;
}
#printButtons {
  overflow: hidden;
}
@media print {
  #printButtons {
    display: none;
  }
}
#browsemembers_ul li {
  page-break-inside: avoid;
  -webkit-region-break-inside: avoid;
}